* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
} 
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
}
.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}
.sidebar .navigation ul li {
    padding: 10px, 0px;
}
.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa{
    color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa{
    color: #b3b3b3;
}
.sidebar .navigation ul li .fa 
{
    font-size: 20px;
    margin-right: 10px;
}
.sidebar .navigation ul li a:hover .fa.hover,
.sidebar .navigation ul li a:active .fa.active,
.sidebar .navigation ul li a:focus .fa.focus{
    color: #ffffff;
}
.navigation img{
    height: 24px;
}
.sidebar .policies {
    position: absolute;
    bottom: 100px;
}
.sidebar .policies ul {
    list-style: none;
}
.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10;
}
.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus{
    text-decoration:underline;
}
.main-container {
    margin-left: 245px;
    margin-bottom: 100px;
}
.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 14px 30px;
    }
.topbar .navbar {
    display:flex;
    align-items: center;
}
.topbar .navbar ul {
    list-style: none;
}
.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}
.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}
.topbar .navbar ul li a:hover, 
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
  color: #ffffff;
  font-size: 15px;
}
.topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}
.topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}
.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
    background-color: #f2f2f2;
}
.prev-next-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.left, .right{
    height: 36px;
    width: 36px;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.search_bar{
    background-color: white;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    border-radius: 50px;
    padding: 6px 12px;
}

.search_bar > input{
    outline: none;
    border: none;

}
.search_bar > img{
    height: 24px;
}

h2 {
    color: #b3b3b3;
}
.main-container .cards-container .cards {
    height:24px;
}

.bottom{
    border-top: 1px solid gray;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 75px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftplayer{
    width: 240px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftplayer > .songimg > img{
    height: 48px;
}
.leftplayer > .songtitle > .songname{
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.leftplayer > .songtitle > .artistname{
    font-size: 12px;
    color: gray;
    font-weight: 500;
}

.leftplayer > .heart > img{
    height: 24px;
}

.controls{
    width: calc(100vw - 240px);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.controls > .images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.controls > .slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slider > .sliderbox > .box1{
    height: 3px;
    width: 40vw;
    background-color: gray;
    border-radius: 50px;
}
.slider > .sliderbox > .box2{
    height: 3px;
    width: 35vw;
    background-color: white;
    border-radius: 50px;
    margin-top: -3px;
}